 body{
    background-color:rgb(0, 0, 0);
 }
 hr{
    color: #ffdec7;
 }
 .custom-nav{
    background-color: #294149;
    
 }
 .custom-nav .navbar-brand,
.custom-nav .nav-link {
  color: #faf5f2; /* Set text color to white */
}
.custom-nav .nav-link.active {
    color: #f7f2ee; /* Ensure active link color is also white */
  }
.hero-sec{
    position: relative;
    height: 100vh;
    /* background: url(download.jpg) no-repeat center center/cover; */
    background: linear-gradient(to right,#1d9bb2,#000000);
}

.hero-sec h1{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.hero-sec p{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.hero-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.name{
    text-decoration: underline;
    font-weight: bolder;
    font-size: Roboto;
    color: rgb(167, 230, 228);
}
h2{   /*not a class hence dont use . */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 252, 243);
}

.aboutbg{ /*container in mid of sction*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background: url(download.jpg) no-repeat center center/cover; */
    background: linear-gradient(to right,#1d9bb2,#000000);
    color: white;
    text-align: center;
}
.aboutbg img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    border-radius:50% ;
    
    
}
.aboutbg .col-md-6{
    /* display: flex; */
    margin: auto;
    justify-content: center;
    align-items: center;
}
#about{
    height: 100vh;
}

.about-me {
    font-size: 3rem;
    font-weight: 100;
    color: #f4eeec;
}

.text{
    font-size: 1.2rem;
    font-family: ;
}
.Aname{
    font-size: 4rem;
    font-weight: 100;
    margin-bottom: 1rem;
    color: #f3eeea;
}
.lead{
    font-size: 3rem;
    margin-bottom: 1rem;
    color: rgb(241, 247, 251);
}
#element{
    color: rgb(199, 238, 241);
}

@media (min-width: 768px) and (max-width: 991px){
    .aboutbg img{
        height: 50px;
    }
    .Aname{
        font-size: 4rem;
    }
    .lead{
        font-size: 2rem;
    }
}

#Skill-Sets{
    background:linear-gradient(to right,#1d9bb2,#000000);;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.card{
    background-color: rgb(247, 242, 237);
}
footer{
    background-color: #294149;
    height: 45px;
}
.footer{
    display: flex;
    padding: 10px 10px 10px 10px;
    justify-content: center;
    align-items: center;
    color: white;

}

btn{
    background-color: rgb(195, 229, 239);
}

.button-64 {
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 120px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
  }
  
  .button-64:active,
  .button-64:hover {
    outline: 0;
  }
  
  .button-64 span {
    background-color: rgb(4, 47, 76);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }
  
  .button-64:hover span {
    background: none;
  }
  
 @media (min-width: 768px) {
    .button-64 {
      font-size: 24px;
      min-width: 196px;
    }
  } 

#contact{
    background:linear-gradient(to right,#1d9bb2,#000000);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}


.c-up{
    color:#f9f6f4;
    font-size: 3rem;
    margin-bottom: 1rem;
}
.details{
    color: white;
    font-size: 1rem;
    margin-bottom: 1rem;
}
.linkedin{
    margin: 20px 20px;
    border: solid 2px rgb(42, 130, 165); 
    display: inline-block;
}
.linkedin img {
    width: 20px;
    height: 15px;
}
.email{
    margin: 20px 20px 20px 20px;
    border: solid 2px rgb(108, 183, 212); 
    display: inline-block;
}
.email img {
    width: 20px;
    height: 20px;
}
.phone{
    margin: 20px 20px;
    border: solid 2px rgb(42, 130, 165); 
    display: inline-block;
}
.phone img {
    width: 20px;
    height: 15px;
}